body {
	background-color: #8FEEAF;
	padding: 0%;
	border: 0%;
	margin: 0%;
	width: 100%;
}

.header {
	background-color: #FDF6E3;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	text-align: center;
}

.second {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	background-color: #E4E6FA;
}

.content-wrapper {
	width: 70%;
	margin: 0 auto;
}

.left-body {
	width: 60%;
	float: left;
}

.right-body {
	width: 40%;
	float: right;
}

h1 {
	font-family: 'rodclaregular';
	font-size: 15em;
	color: #0B104F;
	font-weight: 100;
	margin-bottom: -20px;
}

h2 {
	font-family: 'rodclaregular';
	color: #0B104F;
	font-size: 50px;
	font-weight: 400;
	padding-bottom: 5%;
}	

p {
	font-family: 'Garamond';
	font-style: italic;
	font-size: 2em;
	color: #0B104F;
}

.detail-letter {
	font-family: 'rodclaregular';
	font-style: normal;
	font-size: 200px;
	line-height: .01em;
	color: #D2AC41;
	text-align: center;
	text-shadow:
 		0 .005em #3B3E62,
 	    .005em 0 #3B3E62,
 	    .005em .010em #3B3E62,
 	    .010em .005em #3B3E62,
 	    .010em .015em #3B3E62,
 	    .015em .010em #3B3E62,
 	    .015em .020em #3B3E62,
 	    .020em .015em #3B3E62,
 	    .020em .025em #3B3E62,
 	    .025em .020em #3B3E62,
 	    .025em .030em #3B3E62,
 	    .030em .025em #3B3E62,
 	    .030em .035em #3B3E62,
 	    .035em .030em #3B3E62,
 	    .035em .040em #3B3E62,
 	    .040em .035em #3B3E62,
	    .040em .045em #3B3E62,
	    .045em .040em #3B3E62,
	    .045em .050em #3B3E62,
	    .050em .045em #3B3E62,
	    .050em .055em #3B3E62,
	    .055em .050em #3B3E62,
	    .055em .060em #3B3E62;
}

@font-face {
    font-family: 'rodclaregular';
    src: url('rodcla-regular_v3-webfont.eot');
    src: url('rodcla-regular_v3-webfont.eot?#iefix') format('embedded-opentype'),
         url('rodcla-regular_v3-webfont.woff') format('woff'),
         url('rodcla-regular_v3-webfont.ttf') format('truetype'),
         url('rodcla-regular_v3-webfont.svg#rodclaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}