body {
	background-color: #667799;
	padding: 0%;
	border: 0%;
	margin: 0%;
	width: 100%;
}

.header {
	background-color: #ddcccc;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	text-align: center;
}

.second {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	background-color: #eecc99;
}

.content-wrapper {
	width: 70%;
	margin: 0 auto;
}

.left-body {
	width: 60%;
	float: left;
}

.right-body {
	width: 40%;
	float: right;
}

h1 {
	font-family: 'rodclaregular';
	font-size: 15em;
	color: #667799;
	font-weight: 100;
	margin-bottom: -20px;
}

h2 {
	font-family: 'rodclaregular';
	color: #667799;
	font-size: 50px;
	font-weight: 400;
	padding-bottom: 5%;
}	

p {
	font-family: 'Garamond';
	font-style: italic;
	font-size: 2em;
	color: #667799;
}

.detail-letter {
	font-family: 'rodclaregular';
	font-style: normal;
	font-size: 3em;
	color: #667799;
}

@font-face {
    font-family: 'rodclaregular';
    src: url('rodcla-regular_v3-webfont.eot');
    src: url('rodcla-regular_v3-webfont.eot?#iefix') format('embedded-opentype'),
         url('rodcla-regular_v3-webfont.woff') format('woff'),
         url('rodcla-regular_v3-webfont.ttf') format('truetype'),
         url('rodcla-regular_v3-webfont.svg#rodclaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}