body {
	background-color: #3399ff;
	padding: 0%;
	border: 0%;
	margin: 0%;
	width: 100%;
}

.header {
	background-color: #66ccff;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	text-align: center;
	padding-bottom: 5%;
}

.second {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	background-color: #3399ff;
	padding-top: 5%;
}

.content-wrapper {
	width: 70%;
	margin: 0 auto;
}

.left-body {
	width: 60%;
	float: left;
}

.right-body {
	width: 40%;
	float: right;
}

h1 {
	font-family: 'rodclaregular';
	font-size: 15em;
	color: #FFF;
	font-weight: 100;
	margin-bottom: -20px;
	margin-top: 5%;
}

h2 {
	font-family: 'rodclaregular';
	color: #FFF;
	font-size: 50px;
	font-weight: 100;
}	

h3 {
	font-family: 'rodclaregular';
	color: #FFF;
	font-size: 35px;
	font-weight: 100;
	line-height: .95em;
}	

p {
	font-family: 'Garamond';
	font-style: italic;
	font-size: 28px;
	color: #FFF;
}

ol {
	font-family: 'Garamond';
	font-style: italic;
	font-size: 28px;
	color: #FFF;
}

.downloadlink {
	border: 2px solid #003366;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px;
}

a {
	color: #003366;
	text-decoration: none;
}

a:hover {
	color: #FFF;
}

.detail-letter {
	font-family: 'rodclaregular';
	font-style: normal;
	font-size: 200px;
	line-height: .01em;
	color: #66ccff;
	text-align: center;
	text-shadow:
 		0 .005em #FFF,
 	    .005em 0 #FFF,
 	    .005em .010em #FFF,
 	    .010em .005em #FFF,
 	    .010em .015em #FFF,
 	    .015em .010em #FFF,
 	    .015em .020em #FFF,
 	    .020em .015em #FFF,
 	    .020em .025em #FFF,
 	    .025em .020em #FFF,
 	    .025em .030em #FFF,
 	    .030em .025em #FFF,
 	    .030em .035em #FFF,
 	    .035em .030em #FFF,
 	    .035em .040em #FFF,
 	    .040em .035em #FFF,
	    .040em .045em #FFF,
	    .045em .040em #FFF,
	    .045em .050em #FFF,
	    .050em .045em #FFF,
	    .050em .055em #FFF,
	    .055em .050em #FFF,
	    .055em .060em #FFF;
}

@font-face {
    font-family: 'rodclaregular';
    src: url('rodcla-regular_v3-webfont.eot');
    src: url('rodcla-regular_v3-webfont.eot?#iefix') format('embedded-opentype'),
         url('rodcla-regular_v3-webfont.woff') format('woff'),
         url('rodcla-regular_v3-webfont.ttf') format('truetype'),
         url('rodcla-regular_v3-webfont.svg#rodclaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}